<h1>Listing phrases</h1>

<table class="table">
  <tr>
    <th>Id</th>
    <th>Phrase</th>
    <th>Translation</th>
    <th>Category</th>
    <th>Authtor</th>
    <th>Votes</th>
  </tr>

  <% @phrases.each do |phrase| %>
    <%= render phrase, render_in_phrase: true %>
   <% end %>
</table>
<%= will_paginate @phrases, renderer: BootstrapPagination::Rails%>
<button><%= link_to "Add new phrase", new_phrase_path, {class: "nav-link active"} %></button>