<h1>Username: <%= @user.username %></h1>
<span>USER CARMA: <%= @user.carma %></span>

<table class="table">
  <tr>
    <th>Id</th>
    <th>Phrase</th>
    <th>Translation</th>
    <th>Category</th>
      <% if @user == current_user %>
        <th>Actions</th>
      <% end %>
  </tr>

  <% @phrases.each do |phrase| %>
    <%= render phrase, render_in_phrase: false%>
  <% end %>
</table>