tr
  td
    = example.example
  td
    = example.user.username
  td
    = date_formatter(example.created_at)
  td
    = link_to vote_phrase_example_path(example.phrase, example , vote: 'up'), method: :post, :class => "nav-link active" do
      div
        span.glyphicon.glyphicon-chevron-up.upvote[aria-hidden="true"]
    .nav-link
      = example.get_likes.size - example.get_dislikes.size
    = link_to vote_phrase_example_path(example.phrase, example, vote: 'down'), method: :post, :class => "nav-link active" do
      div
        span.glyphicon.glyphicon-chevron-down.downvote[aria-hidden="true"]
  td
    - if example.is_author?(current_user) || example.phrase.is_author?(current_user)
      = link_to 'Delete', phrase_example_path(example.phrase, example) , method: :delete, data: { confirm: 'Are you sure?' }
